<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
                xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>luv2code Company Home Page</title>
</head>

<body>

    <h2>luv2code Company Home Page</h2>
    <hr>
    <p>
        Welcome to the luv2code company home page!
    </p>

    <hr>

    <!-- display user name and role -->

    <p>
        User: <span sec:authentication="principal.username"></span>
        <br><br>
        Role(s): <span sec:authentication="principal.authorities"></span>
    </p>

    <hr>

    <!-- Add a logout button -->
    <form action="#" th:action="@{/logout}" method="POST">

        <input type="submit" value="Logout" />
    </form>

</body>
</html>















