<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Custom Login Page</title>

    <style>
        .failed {
            color: red;
        }
    </style>

</head>
<body>

<h3>My Custom Login Page</h3>

<form action="#" th:action="@{/authenticateTheUser}" method="POST">

    <!-- Check for login error -->
    <div th:if="${param.error}">

        <i class="failed">Sorry! You entered invalid username/password.</i>

    </div>

    <p>
        User name: <input type="text" name="username" />
    </p>

    <p>
        Password: <input type="password" name="password" />
    </p>

    <input type="submit" value="Login" />
    
</form>

</body>
</html>









